{"openapi":"3.1.0","info":{"title":"团剧共创","description":"接口文档","contact":{"name":"降星驰","url":"https://space.bilibili.com/108753930","email":"starrybamboo@qq.com"},"version":"v1.0"},"servers":[{"url":"http://api.tuan.chat","description":"Generated server url"}],"security":[{"Authorization":[]}],"tags":[{"name":"FeedbackIssueController","description":"内部反馈 Issue"},{"name":"NotificationController","description":"通知中心"},{"name":"websocket-doc","description":"WebSocket文档生成（调试）"},{"name":"NovelApiProxyController","description":"NovelAI 图片代理接口"},{"name":"DatabaseBackup","description":"数据库备份管理（调试）"},{"name":"UserController","description":"用户相关接口"},{"name":"StickerController","description":"表情包相关接口"},{"name":"AvatarController","description":"头像相关接口"},{"name":"MaterialPackageController","description":"局外素材包相关接口"},{"name":"AiGatewayOpenAiController","description":"OpenAI 兼容 AI 网关接口"},{"name":"space-tutorial-controller","description":"新手教程引导接口"},{"name":"repositoryController","description":"Repository 相关接口"},{"name":"AbilityController","description":"角色能力相关接口"},{"name":"SpaceMaterialPackageController","description":"局内素材包相关接口"},{"name":"ClientMetadataController","description":"客户端高频元数据聚合接口"},{"name":"UserFollowController","description":"用户关注相关接口"},{"name":"message-session","description":"消息会话相关接口"},{"name":"counter","description":"计数器接口"},{"name":"RuleController","description":"提供规则的增删改查功能"},{"name":"AiGatewayController","description":"AI网关中转接口"},{"name":"FeedController","description":"用户Feed相关接口"},{"name":"MessageDirectController","description":"私聊消息相关接口"},{"name":"ChatController","description":"消息收发，消息标记，与消息相关的基本在这"},{"name":"CommentController","description":"评论相关接口"},{"name":"RoleController","description":"角色相关接口"},{"name":"FriendController","description":"好友关系管理"},{"name":"UserSecurityController","description":"用户安全相关接口"}],"paths":{"/user/info":{"get":{"tags":["UserController"],"summary":"获取用户必要信息","operationId":"getUserInfo","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultUserInfoResponse"}}}}}},"put":{"tags":["UserController"],"summary":"修改用户信息","operationId":"updateUserInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultUserPrivateInfoResponse"}}}}}}},"/space":{"put":{"tags":["space-controller"],"summary":"更新空间信息（名称、头像、描述、规则）","operationId":"updateSpace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"post":{"tags":["space-controller"],"summary":"创建空间","operationId":"createSpace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpace"}}}}}}},"/space/transfer":{"put":{"tags":["space-controller"],"summary":"转让空间","operationId":"transferSpaceOwner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceOwnerTransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/space/sidebarTree":{"get":{"tags":["space-sidebar-tree-controller"],"summary":"获取空间侧边栏频道树","operationId":"getSidebarTree","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceSidebarTreeResponse"}}}}}},"put":{"tags":["space-sidebar-tree-controller"],"summary":"设置空间侧边栏频道树","operationId":"setSidebarTree","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceSidebarTreeSetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceSidebarTreeResponse"}}}}}}},"/space/member/type":{"put":{"tags":["space-member-controller"],"summary":"设置空间成员类型","operationId":"updateMemberType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceMemberTypeUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/member/player":{"put":{"tags":["space-member-controller"],"summary":"设置用户为玩家","operationId":"grantPlayer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlayerGrantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"delete":{"tags":["space-member-controller"],"summary":"将pl设置为观战，同时退出所有房间","operationId":"revokePlayer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlayerRevokeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/member/leader":{"put":{"tags":["space-member-controller"],"summary":"转让裁判，自己变成pl","operationId":"transferLeader","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderTransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/materialPackage":{"put":{"tags":["SpaceMaterialPackageController"],"summary":"更新局内素材包","operationId":"updatePackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceMaterialPackageUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceMaterialPackageResponse"}}}}}},"post":{"tags":["SpaceMaterialPackageController"],"summary":"创建局内素材包","operationId":"createPackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceMaterialPackageCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceMaterialPackageResponse"}}}}}},"delete":{"tags":["SpaceMaterialPackageController"],"summary":"删除局内素材包","operationId":"deletePackage","parameters":[{"name":"spacePackageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/extra":{"get":{"tags":["space-controller"],"summary":"获取空间其他信息","operationId":"getSpaceExtra","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"key","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}},"put":{"tags":["space-controller"],"summary":"新增或修改空间其他信息","operationId":"setSpaceExtra","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceExtraSetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"delete":{"tags":["space-controller"],"summary":"删除空间其他信息","operationId":"deleteSpaceExtra","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceExtraRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/doc/title":{"put":{"tags":["space-doc-controller"],"summary":"重命名 Space 文档房间","operationId":"renameDoc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceDocRenameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/archive":{"put":{"tags":["space-controller"],"summary":"更新空间归档状态","operationId":"updateSpaceArchiveStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceArchiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/rule/update":{"put":{"tags":["RuleController"],"summary":"更新规则","description":"更新现有规则的信息，包括名称、描述及相关模板，因为要支持顺序，只支持全量更新","operationId":"updateRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room":{"put":{"tags":["room-controller"],"summary":"更新房间信息(名称、头像、场景简要描述)","operationId":"updateRoom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room/extra":{"get":{"tags":["room-controller"],"summary":"获取房间其他信息","operationId":"getRoomExtra","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"key","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}},"put":{"tags":["room-controller"],"summary":"新增或修改房间其他信息","operationId":"setRoomExtra","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomExtraSetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"delete":{"tags":["room-controller"],"summary":"删除房间其他信息","operationId":"deleteRoomExtra","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomExtraRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room/dnd-map":{"get":{"tags":["room-dnd-map-controller"],"summary":"Get room DND map","operationId":"getRoomMap","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoomDndMapResponse"}}}}}},"put":{"tags":["room-dnd-map-controller"],"summary":"Upsert room DND map","operationId":"upsertRoomMap","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomDndMapUpsertRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoomDndMapResponse"}}}}}},"delete":{"tags":["room-dnd-map-controller"],"summary":"Clear room DND map","operationId":"clearRoomMap","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomDndMapClearRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room/dnd-map/token":{"put":{"tags":["room-dnd-map-controller"],"summary":"Upsert room DND map token","operationId":"upsertToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomDndMapTokenUpsertRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoomDndMapTokenResponse"}}}}}},"delete":{"tags":["room-dnd-map-controller"],"summary":"Remove room DND map token","operationId":"removeToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomDndMapTokenRemoveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/role":{"get":{"tags":["RoleController"],"summary":"根据id获取角色","operationId":"getRole","parameters":[{"name":"roleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultUserRole"}}}}}},"put":{"tags":["RoleController"],"summary":"更新角色信息","operationId":"updateRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"post":{"tags":["RoleController"],"summary":"新增角色，返回角色id","operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}},"delete":{"tags":["RoleController"],"summary":"根据id批量删除角色","operationId":"deleteRole","parameters":[{"name":"roleId","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/role/ability/by-rule":{"get":{"tags":["AbilityController"],"summary":"根据角色id和规则id获取能力","operationId":"getRoleAbilityByRule","parameters":[{"name":"ruleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"roleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleAbility"}}}}}},"put":{"tags":["AbilityController"],"summary":"按角色和规则更新能力","description":"更新指定角色在指定规则下的能力信息，act和ability字段不能同时为null或者空json","operationId":"updateRoleAbilityByRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilityByRuleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/role/ability/by-rule/field":{"put":{"tags":["AbilityController"],"summary":"按角色和规则更新能力字段","description":"更改能力字段或删除字段","operationId":"updateRoleAbilityFieldByRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilityByRuleFieldUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/materialPackage":{"put":{"tags":["MaterialPackageController"],"summary":"更新局外素材包","operationId":"updatePackage_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialPackageUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMaterialPackageResponse"}}}}}},"post":{"tags":["MaterialPackageController"],"summary":"创建局外素材包","operationId":"createPackage_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialPackageCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMaterialPackageResponse"}}}}}},"delete":{"tags":["MaterialPackageController"],"summary":"删除局外素材包","operationId":"deletePackage_1","parameters":[{"name":"packageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/feedback/issue/status":{"put":{"tags":["FeedbackIssueController"],"summary":"更新反馈 Issue 状态","operationId":"updateStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackIssueStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultFeedbackIssueDetailResponse"}}}}}}},"/feedback/issue/archive":{"put":{"tags":["FeedbackIssueController"],"summary":"更新反馈 Issue 归档状态","operationId":"updateArchiveStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackIssueArchiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultFeedbackIssueDetailResponse"}}}}}}},"/chat/message":{"get":{"tags":["ChatController"],"summary":"根据ID获取单条消息","description":"返回指定ID的消息详情","operationId":"getMessageById","parameters":[{"name":"messageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultChatMessageResponse"}}}}}},"put":{"tags":["ChatController"],"summary":"更新消息","description":"只要有更新都走这个接口","operationId":"updateMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMessage"}}}}}},"post":{"tags":["ChatController"],"summary":"发送单条消息","description":"创建一条房间消息并返回持久化后的消息","operationId":"sendMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMessage"}}}}}},"delete":{"tags":["ChatController"],"summary":"删除消息","description":"只要有更新都走这个接口","operationId":"deleteMessage","requestBody":{"content":{"application/json":{"schema":{"type":"integer","format":"int64"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMessage"}}}}}}},"/capi/repository":{"put":{"tags":["repositoryController"],"summary":"更新仓库","description":"根据请求更新","operationId":"updateRepository","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/avatar":{"get":{"tags":["AvatarController"],"summary":"根据id获取头像","operationId":"getRoleAvatar","parameters":[{"name":"avatarId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleAvatar"}}}}}},"put":{"tags":["AvatarController"],"summary":"根据头像id更新头像","operationId":"updateRoleAvatar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAvatarRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleAvatar"}}}}}},"post":{"tags":["AvatarController"],"summary":"创建头像，并返回头像ID","operationId":"setRoleAvatar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAvatarCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}},"delete":{"tags":["AvatarController"],"summary":"根据id删除头像","operationId":"deleteRoleAvatar","parameters":[{"name":"avatarId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/avatar/variant":{"put":{"tags":["AvatarController"],"summary":"更新角色立绘组","operationId":"updateRoleAvatarVariant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAvatarVariantUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleAvatarVariant"}}}}}},"post":{"tags":["AvatarController"],"summary":"创建角色立绘组","operationId":"createRoleAvatarVariant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAvatarVariantCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleAvatarVariant"}}}}}},"delete":{"tags":["AvatarController"],"summary":"删除角色立绘组","operationId":"deleteRoleAvatarVariant","parameters":[{"name":"variantId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/{targetUserId}/followings/page":{"post":{"tags":["UserFollowController"],"summary":"获取某人关注列表","description":"获取某人关注列表接口","operationId":"followings","parameters":[{"name":"targetUserId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBaseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespFollowResponse"}}}}}}},"/user/{targetUserId}/followers/page":{"post":{"tags":["UserFollowController"],"summary":"获取某人粉丝列表","description":"获取某人粉丝列表接口","operationId":"followers","parameters":[{"name":"targetUserId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBaseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespFollowResponse"}}}}}}},"/user/{targetUserId}/follow":{"get":{"tags":["UserFollowController"],"summary":"判断是否关注某用户","description":"判断是否关注某用户接口","operationId":"isFollow","parameters":[{"name":"targetUserId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}},"post":{"tags":["UserFollowController"],"summary":"用户关注","description":"用户关注接口","operationId":"follow","parameters":[{"name":"targetUserId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"delete":{"tags":["UserFollowController"],"summary":"用户取消关注","description":"用户取消关注接口","operationId":"unfollow","parameters":[{"name":"targetUserId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/security/password/forgot":{"post":{"tags":["UserSecurityController"],"summary":"忘记密码（发送账号信息到邮箱）","operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/security/password/change":{"post":{"tags":["UserSecurityController"],"summary":"通过邮箱验证码修改密码","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordChangeByEmailRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/security/email/code/verify":{"post":{"tags":["UserSecurityController"],"summary":"校验邮箱验证码","operationId":"verifyEmailCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailCodeVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/security/email/code/send":{"post":{"tags":["UserSecurityController"],"summary":"发送邮箱验证码","operationId":"sendEmailCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailCodeSendRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/security/email/change":{"post":{"tags":["UserSecurityController"],"summary":"换绑邮箱","operationId":"changeEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailChangeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/security/email/bind":{"post":{"tags":["UserSecurityController"],"summary":"绑定邮箱","operationId":"bindEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailBindRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/register":{"post":{"tags":["UserController"],"summary":"用户注册","description":"用户注册接口","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}}},"/user/logout":{"post":{"tags":["UserController"],"summary":"退出登录","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/user/login":{"post":{"tags":["UserController"],"summary":"用户登录","description":"用户登录接口，支持 userId 或 username 进行登录","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}}},"/user/friends/page":{"post":{"tags":["UserFollowController"],"summary":"获取我的好友列表","description":"获取当前用户的互相关注好友列表","operationId":"friends","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBaseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespFollowResponse"}}}}}}},"/sticker":{"post":{"tags":["StickerController"],"summary":"创建表情包","operationId":"createSticker","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}},"delete":{"tags":["StickerController"],"summary":"删除表情包","operationId":"deleteSticker","parameters":[{"name":"stickerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/webgal/publish":{"post":{"tags":["webgal-publish-controller"],"summary":"发起 Galgame 发布到 Cloudflare Pages","operationId":"start","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebgalPublishRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultWebgalPublishJobStatusResponse"}}}}}}},"/space/tutorial/pull":{"post":{"tags":["space-tutorial-controller"],"summary":"拉取最新新手教程（新建并删除旧教程空间）","operationId":"pullLatestTutorial","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultTutorialPullResponse"}}}}}}},"/space/room":{"post":{"tags":["space-controller"],"summary":"创建房间","operationId":"createRoom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoom"}}}}}}},"/space/repository/role":{"get":{"tags":["space-repository-controller"],"summary":"获取空间角色库，仅kp调用","operationId":"spaceRole","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListUserRole"}}}}}},"post":{"tags":["space-repository-controller"],"summary":"将角色添加到空间角色库","operationId":"addSpaceRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceRole"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/recover":{"post":{"tags":["space-controller"],"summary":"恢复归档空间继续编辑","operationId":"recoverArchivedSpace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceRecoverRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/member":{"post":{"tags":["space-member-controller"],"summary":"在空间内新增观战成员","operationId":"addMember","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceMemberAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"delete":{"tags":["space-member-controller"],"summary":"删除空间成员","operationId":"deleteMember","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceMemberDeleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/member/invited/{code}":{"post":{"tags":["space-member-controller"],"summary":"通过邀请链接加入房间，返回spaceId","operationId":"invited","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}}},"/space/materialPackage/page":{"post":{"tags":["SpaceMaterialPackageController"],"summary":"分页获取局内素材包","operationId":"pagePackages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceMaterialPackagePageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespSpaceMaterialPackageResponse"}}}}}}},"/space/materialPackage/import":{"post":{"tags":["SpaceMaterialPackageController"],"summary":"从局外素材包导入到局内","operationId":"importPackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceMaterialPackageImportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceMaterialPackageResponse"}}}}}}},"/space/doc":{"post":{"tags":["space-doc-controller"],"summary":"创建 Space 文档房间","operationId":"createDoc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceDocCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceDocResponse"}}}}}},"delete":{"tags":["space-doc-controller"],"summary":"删除 Space 文档房间（软删除）","operationId":"deleteDoc","parameters":[{"name":"docId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/space/clone":{"post":{"tags":["space-controller"],"summary":"根据commitId克隆空间","operationId":"cloneByCommitId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceCloneByCommitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}}},"/space/clone/repository":{"post":{"tags":["space-controller"],"summary":"根据repositoryId克隆空间","operationId":"cloneByRepositoryId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceCloneByRepositoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}}},"/space/archive/rebuild":{"post":{"tags":["space-controller"],"summary":"按当前归档实现重建归档空间快照","operationId":"rebuildArchivedSpaceSnapshot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceRecoverRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/rule/page":{"post":{"tags":["RuleController"],"summary":"分页获取规则列表","description":"分页获取规则列表，支持通过关键词搜索规则名称或描述","operationId":"getRulePage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RulePageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespRuleResponse"}}}}}}},"/rule/create":{"post":{"tags":["RuleController"],"summary":"创建规则","description":"创建一个新的游戏规则，包含规则名称、描述及相关模板","operationId":"createRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}}},"/rule/clone":{"post":{"tags":["RuleController"],"summary":"克隆规则","description":"基于现有规则创建一个新的规则副本，可自定义名称和描述","operationId":"cloneRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleCloneRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRule"}}}}}}},"/room/role":{"post":{"tags":["room-role-controller"],"summary":"增加房间的角色","operationId":"addRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomRoleAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"delete":{"tags":["room-role-controller"],"summary":"删除房间的角色","operationId":"deleteRole_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomRoleDeleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room/role/all/batch":{"post":{"tags":["room-role-controller"],"summary":"批量获取多个房间的全部角色分组","operationId":"roomAllRoleBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomRoleBatchQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMapStringRoomRoleListResponse"}}}}}}},"/room/member":{"post":{"tags":["room-member-controller"],"summary":"新增房间pl成员，如果将观战成员拉入房间，会自动成为pl","operationId":"addMember_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomMemberAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}},"delete":{"tags":["room-member-controller"],"summary":"删除房间成员","operationId":"deleteMember_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomMemberDeleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room/clue/public/join":{"post":{"tags":["room-controller"],"summary":"加入当前空间的公共线索夹","operationId":"joinPublicClueFolder","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoom"}}}}}}},"/room/archive":{"post":{"tags":["room-controller"],"summary":"归档房间(冻结只读)","operationId":"archiveRoom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomArchiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room/archive/clone":{"post":{"tags":["room-controller"],"summary":"从归档房间克隆新房间","operationId":"cloneFromArchivedRoom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomArchiveCloneRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}}},"/role/page":{"post":{"tags":["RoleController"],"summary":"分页获取角色,支持姓名模糊查询","operationId":"getRolesByPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolePageQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespUserRole"}}}}}}},"/role/copy":{"post":{"tags":["RoleController"],"summary":"复制角色（当前仅支持复制为骰娘）","operationId":"copyRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCopyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultUserRole"}}}}}}},"/role/ability":{"get":{"tags":["AbilityController"],"summary":"根据能力id获取角色能力","operationId":"getRoleAbility","parameters":[{"name":"abilityId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleAbility"}}}}}},"post":{"tags":["AbilityController"],"summary":"创建能力","description":"创建指定角色在指定规则下的能力信息，返回创建的能力ID，act和ability字段不能同时为null或者空json","operationId":"setRoleAbility","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilitySetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}},"delete":{"tags":["AbilityController"],"summary":"根据id删除能力","operationId":"deleteRoleAbility","parameters":[{"name":"abilityId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/role/ability/page":{"post":{"tags":["AbilityController"],"summary":"分页查询角色能力","description":"根据角色Id分页查询角色能力","operationId":"pageRoleAbility","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilityPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespRoleAbility"}}}}}}},"/role/ability/batch":{"post":{"tags":["AbilityController"],"summary":"批量查询角色能力","description":"根据规则ID和多个角色ID批量查询能力","operationId":"batchGetByRuleAndRoles","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilityBatchQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMapStringRoleAbility"}}}}}}},"/oss/upload/url":{"post":{"tags":["OssController"],"summary":"获取临时上传链接","operationId":"getUploadUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultOssResp"}}}}}}},"/novelapi/ai/upscale":{"post":{"tags":["NovelApiProxyController"],"summary":"NovelAI 放大代理","description":"透传请求到 NovelAI /ai/upscale 并回传二进制结果","operationId":"upscaleImage","parameters":[{"name":"Accept","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NovelApiUpscaleImageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/novelapi/ai/generate-image":{"post":{"tags":["NovelApiProxyController"],"summary":"NovelAI 生图代理","description":"透传请求到 NovelAI /ai/generate-image 并回传二进制结果","operationId":"generateImageMultipart","parameters":[{"name":"Accept","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"type":"string"},"use_new_shared_trial":{"type":"string"}},"required":["request"]}},"application/json":{"schema":{"$ref":"#/components/schemas/NovelApiGenerateImageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/novelapi/ai/augment-image":{"post":{"tags":["NovelApiProxyController"],"summary":"NovelAI 导演工具代理","description":"透传请求到 NovelAI /ai/augment-image 并回传二进制结果","operationId":"augmentImage","parameters":[{"name":"Accept","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NovelApiAugmentImageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/novelapi/ai/annotate-image":{"post":{"tags":["NovelApiProxyController"],"summary":"NovelAI 控制图代理","description":"透传请求到 NovelAI /ai/annotate-image 并回传二进制结果","operationId":"annotateImage","parameters":[{"name":"Accept","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NovelApiAnnotateImageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/notification/read":{"post":{"tags":["NotificationController"],"summary":"批量标记通知已读","operationId":"markRead","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationReadRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/notification/read-all":{"post":{"tags":["NotificationController"],"summary":"全部标记通知已读","operationId":"markAllRead","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationReadAllRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/notification/page":{"post":{"tags":["NotificationController"],"summary":"分页获取通知列表","operationId":"pageNotifications","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultCursorPageBaseResponseNotificationItemResponse"}}}}}}},"/metadata/batch":{"post":{"tags":["ClientMetadataController"],"summary":"批量获取角色、用户和头像元数据","operationId":"getBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientMetadataBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultClientMetadataBatchResponse"}}}}}}},"/message/direct/updateReadPosition":{"post":{"tags":["MessageDirectController"],"summary":"更新私聊已读位置","description":"插入消息已读线，并删除之前的已读线","operationId":"updateReadPosition","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDirectReadUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/message/direct/send":{"post":{"tags":["MessageDirectController"],"summary":"发送私聊消息","operationId":"sendMessage_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDirectSendRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMessageDirectResponse"}}}}}}},"/message/direct/recall":{"post":{"tags":["MessageDirectController"],"summary":"撤回消息","operationId":"recallMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDirectRecallRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/message/direct/inbox":{"post":{"tags":["MessageDirectController"],"summary":"获取收件箱消息全量数据","description":"拉取当前用户收件箱从最新消息到指定cursor位置的所有消息","operationId":"getInboxMessages","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListMessageDirectResponse"}}}}}}},"/message/direct/conversation-sync":{"post":{"tags":["MessageDirectController"],"summary":"同步私聊会话","description":"syncId 为 0 时返回完整基线，否则返回从该 syncId（含边界）起的追加事件","operationId":"syncConversation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDirectConversationSyncRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMessageDirectConversationSyncResponse"}}}}}}},"/media/upload-sessions/{sessionId}/complete":{"post":{"tags":["MediaController"],"summary":"完成媒体单例上传","operationId":"completeUpload","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MediaCompleteUploadRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMediaCompleteUploadResponse"}}}}}}},"/media/prepare-upload":{"post":{"tags":["MediaController"],"summary":"准备媒体单例上传","operationId":"prepareUpload","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MediaPrepareUploadRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMediaPrepareUploadResponse"}}}}}}},"/materialPackage/public/page":{"post":{"tags":["MaterialPackageController"],"summary":"分页获取公开素材包","operationId":"pagePublicPackages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialPackagePageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespMaterialPackageResponse"}}}}}}},"/materialPackage/my/page":{"post":{"tags":["MaterialPackageController"],"summary":"分页获取我的局外素材包","operationId":"pageMyPackages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialPackagePageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespMaterialPackageResponse"}}}}}}},"/friend/unblock":{"post":{"tags":["FriendController"],"summary":"取消拉黑","description":"取消拉黑指定好友，恢复正常好友关系","operationId":"unblockFriend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendBlockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/friend/request/send":{"post":{"tags":["FriendController"],"summary":"发送好友申请","description":"向指定用户发送好友申请","operationId":"sendFriendRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendReqSendRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/friend/request/reject":{"post":{"tags":["FriendController"],"summary":"拒绝好友申请","description":"拒绝指定的好友申请","operationId":"rejectFriendRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendReqHandleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/friend/request/page":{"post":{"tags":["FriendController"],"summary":"获取好友申请列表","description":"分页获取当前用户收到的待处理好友申请列表","operationId":"getFriendRequestPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBaseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespFriendReqResponse"}}}}}}},"/friend/request/accept":{"post":{"tags":["FriendController"],"summary":"同意好友申请","description":"同意指定的好友申请","operationId":"acceptFriendRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendReqHandleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/friend/list":{"post":{"tags":["FriendController"],"summary":"获取好友列表","description":"分页获取当前用户的好友列表","operationId":"getFriendList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendListRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListFriendResponse"}}}}}}},"/friend/delete":{"post":{"tags":["FriendController"],"summary":"删除好友","description":"删除指定好友，双向解除好友关系","operationId":"deleteFriend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendDeleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/friend/check":{"post":{"tags":["FriendController"],"summary":"检查好友关系","description":"检查与指定用户的好友关系状态","operationId":"checkFriend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendCheckRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultFriendCheckResponse"}}}}}}},"/friend/block":{"post":{"tags":["FriendController"],"summary":"拉黑好友","description":"拉黑指定好友，对方将无法发送消息","operationId":"blockFriend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendBlockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/friend/blacklist":{"post":{"tags":["FriendController"],"summary":"获取黑名单列表","description":"分页获取当前用户的黑名单列表","operationId":"getBlackList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendListRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListFriendResponse"}}}}}}},"/feedback/issue":{"post":{"tags":["FeedbackIssueController"],"summary":"创建反馈 Issue","operationId":"createIssue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackIssueCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultFeedbackIssueDetailResponse"}}}}}}},"/feedback/issue/page":{"post":{"tags":["FeedbackIssueController"],"summary":"分页获取反馈 Issue 列表","operationId":"pageIssues","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackIssuePageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultCursorPageBaseResponseFeedbackIssueListItemResponse"}}}}}}},"/feed/page":{"post":{"tags":["FeedController"],"summary":"分页查询首页Feed列表","description":"使用游标翻页","operationId":"pageFeed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultCursorPageBaseResponseFeedWithStatsResponse"}}}}}}},"/feed/moment":{"post":{"tags":["FeedController"],"summary":"获取当前用户关注者的动态Feed时间线","operationId":"getFollowingMomentFeed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultCursorPageBaseResponseFeedWithStatsResponse"}}}}}},"delete":{"tags":["FeedController"],"summary":"删除一篇动态Feed","operationId":"deleteMomentFeed","parameters":[{"name":"feedId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/feed/moment/user":{"post":{"tags":["FeedController"],"summary":"获取特定用户的动态Feed时间线","operationId":"getUserMomentFeed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultCursorPageBaseResponseFeedWithStatsResponse"}}}}}}},"/feed/moment/stats":{"post":{"tags":["FeedController"],"summary":"获取动态Feed统计","operationId":"getMomentFeedStats","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMomentFeedTotalStatsResponse"}}}}}}},"/feed/moment/publish":{"post":{"tags":["FeedController"],"summary":"发布动态Feed","operationId":"publishMomentFeed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MomentFeedRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultFeedWithStatsResponse"}}}}}}},"/counter/uv/record":{"post":{"tags":["counter"],"summary":"记录用户访问","operationId":"recordUniqueVisit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UVOperationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}}},"/counter/sync":{"post":{"tags":["counter"],"summary":"手动触发同步到数据库","operationId":"syncToDatabase","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/counter/set":{"post":{"tags":["counter"],"summary":"设置计数","operationId":"setCounter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterOperationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/counter/incr":{"post":{"tags":["counter"],"summary":"增加计数","operationId":"incrCounter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CounterOperationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultInteger"}}}}}}},"/counter/batch":{"post":{"tags":["counter"],"summary":"批量获取计数","operationId":"batchGetCounter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCounterQueryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMapLongInteger"}}}}}}},"/comment":{"get":{"tags":["CommentController"],"summary":"获取评论","description":"根据评论ID获取评论详情","operationId":"getComment","parameters":[{"name":"commentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultCommentVO"}}}}}},"post":{"tags":["CommentController"],"summary":"发布评论","description":"发布新评论或回复评论","operationId":"addComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}},"delete":{"tags":["CommentController"],"summary":"删除评论","description":"软删除评论","operationId":"deleteComment","parameters":[{"name":"commentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/comment/timeline/page":{"post":{"tags":["CommentController"],"summary":"分页获取时间线评论","description":"获取目标对象的单列时间线评论","operationId":"pageTimelineComments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentTimelinePageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListCommentTimelineVO"}}}}}}},"/comment/page":{"post":{"tags":["CommentController"],"summary":"分页获取评论","description":"获取目标对象的树状评论","operationId":"pageComments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListCommentVO"}}}}}}},"/comment/count/batch":{"post":{"tags":["CommentController"],"summary":"批量获取评论数量","operationId":"batchGetCommentCount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMapLongInteger"}}}}}}},"/comment/children/page":{"post":{"tags":["CommentController"],"summary":"分页获取子评论","description":"按父评论分页获取直接子评论及其可见子树","operationId":"pageChildComments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentChildPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListCommentVO"}}}}}}},"/chat/session/unsubscribe":{"post":{"tags":["message-session"],"description":"取消订阅房间","operationId":"unsubscribeRoom","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/chat/session/subscribe":{"post":{"tags":["message-session"],"description":"订阅房间","operationId":"subscribeRoom","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMessageSession"}}}}}}},"/chat/session/read":{"post":{"tags":["message-session"],"description":"更新已读位置","operationId":"updateReadPosition_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionReadUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/chat/message/patch":{"post":{"tags":["ChatController"],"summary":"复合批量变更消息","description":"按 insert/update/delete/move 操作一次性变更指定房间消息","operationId":"patchRoomMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomMessageStreamPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListMessage"}}}}}}},"/chat/message/history":{"post":{"tags":["ChatController"],"summary":"统一读取房间消息历史","description":"主读取入口：syncId=0 返回完整 baseline，syncId>0 用于补洞；响应编码由 HTTP 协商决定","operationId":"getHistoryMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/chat/message/history/batch":{"post":{"tags":["ChatController"],"summary":"批量读取多个房间的消息历史","operationId":"getHistoryMessagesBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryMessageBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMapStringListChatMessageResponse"}}}}}}},"/capi/repository/user/page":{"post":{"tags":["repositoryController"],"summary":"根据用户ID获取仓库列表","description":"获取指定用户创建的仓库列表","operationId":"pageByUserId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryPageByUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespRepository"}}}}}}},"/capi/repository/page":{"post":{"tags":["repositoryController"],"summary":"获取仓库列表","description":"分页获取已发布的根仓库列表","operationId":"page","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespRepository"}}}}}}},"/capi/repository/fork/page":{"post":{"tags":["repositoryController"],"summary":"获取仓库的 fork 列表","description":"分页获取根仓库 + fork 列表（仅发布）","operationId":"pageForks","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryForkPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultPageBaseRespRepository"}}}}}}},"/backup/trigger":{"post":{"tags":["DatabaseBackup"],"description":"手动触发数据库备份（调试接口，仅用户10001可用）","operationId":"triggerBackup","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}}},"/avatar/list/batch":{"post":{"tags":["AvatarController"],"summary":"批量获取多个角色的头像列表","operationId":"getRoleAvatarsBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAvatarListBatchQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMapStringListRoleAvatar"}}}}}}},"/api/websocket/doc/generate":{"post":{"tags":["websocket-doc"],"description":"生成WebSocket API文档（调试接口）","operationId":"generateDoc","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}}},"/ai/gateway/v1/chat/stream":{"post":{"tags":["AiGatewayOpenAiController"],"summary":"TuanChat SSE 流式对话","description":"使用与 chat/completions 相同的请求体，返回 OpenAI 风格 chunk SSE","operationId":"streamChat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAiChatCompletionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/ai/gateway/v1/chat/completions":{"post":{"tags":["AiGatewayOpenAiController"],"summary":"OpenAI兼容对话补全","description":"兼容 OpenAI chat/completions 非流式请求","operationId":"chatCompletions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAiChatCompletionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpenAiChatCompletionResponse"}}}}}}},"/ai/gateway/relay":{"post":{"tags":["AiGatewayController"],"summary":"统一AI中转","description":"按 model 路由到目标模型并透传 prompt","operationId":"relay","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiGatewayRelayRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}}},"/user/token":{"get":{"tags":["UserController"],"summary":"获取当前登录态 token","operationId":"getCurrentToken","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}}},"/user/info/profile":{"get":{"tags":["UserController"],"summary":"获取用户主页信息","operationId":"getUserProfileInfo","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultUserProfileInfoResponse"}}}}}}},"/user/info/me":{"get":{"tags":["UserController"],"summary":"获取当前登录用户信息（仅本人）","operationId":"getMyUserInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultUserPrivateInfoResponse"}}}}}}},"/user/info/by-username":{"get":{"tags":["UserController"],"summary":"通过用户名获取用户必要信息","operationId":"getUserInfoByUsername","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultUserInfoResponse"}}}}}}},"/sticker/list":{"get":{"tags":["StickerController"],"summary":"获取用户表情包列表","operationId":"getUserStickers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListSticker"}}}}}}},"/space/{spaceId}":{"get":{"tags":["space-controller"],"summary":"获取空间","operationId":"getSpaceInfo","parameters":[{"name":"spaceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpace"}}}}}},"delete":{"tags":["space-controller"],"summary":"解散空间","operationId":"dissolveSpace","parameters":[{"name":"spaceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/space/webgal/publish/{jobId}":{"get":{"tags":["webgal-publish-controller"],"summary":"查询 Galgame 发布状态","operationId":"status","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultWebgalPublishJobStatusResponse"}}}}}}},"/space/tutorial/bootstrap":{"get":{"tags":["space-tutorial-controller"],"summary":"用户上线后的教程引导检查","operationId":"bootstrap","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultTutorialBootstrapResponse"}}}}}}},"/space/member/list":{"get":{"tags":["space-member-controller"],"summary":"获取空间成员列表","operationId":"getMemberList","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListSpaceMember"}}}}}}},"/space/member/inviteCode":{"get":{"tags":["space-member-controller"],"summary":"生成邀请码，过期时间以天为单位，为空则不过期,type0观战,type1玩家邀请","operationId":"inviteCode","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","required":true,"schema":{"type":"integer","format":"int32","maximum":9,"minimum":0}},{"name":"duration","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultString"}}}}}}},"/space/materialPackage/detail":{"get":{"tags":["SpaceMaterialPackageController"],"summary":"获取局内素材包详情","operationId":"getDetail","parameters":[{"name":"spacePackageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceMaterialPackageResponse"}}}}}}},"/space/list":{"get":{"tags":["space-controller"],"summary":"获取当前用户加入的所有空间（包含归档）","operationId":"getUserSpaces","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListSpace"}}}}}}},"/space/list/sync":{"get":{"tags":["space-controller"],"summary":"增量获取当前用户加入的空间","operationId":"syncUserSpaces","parameters":[{"name":"afterSyncId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultSpaceCollectionSyncResponse"}}}}}}},"/space/list/active":{"get":{"tags":["space-controller"],"summary":"获取当前用户加入的未归档空间","operationId":"getUserActiveSpaces","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListSpace"}}}}}}},"/space/doc/list":{"get":{"tags":["space-doc-controller"],"summary":"获取 Space 文档房间列表","operationId":"listDocs","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListSpaceDocResponse"}}}}}}},"/space/archive/square":{"get":{"tags":["space-controller"],"summary":"获取广场已归档空间","operationId":"listArchivedSpacesSquare","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListSpace"}}}}}}},"/space/archive/my":{"get":{"tags":["space-controller"],"summary":"获取当前用户归档的空间","operationId":"listMyArchivedSpaces","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListSpace"}}}}}}},"/rule/detail/{ruleId}":{"get":{"tags":["RuleController"],"summary":"获取规则详情","description":"获取指定ID规则的详细信息","operationId":"getRuleDetail","parameters":[{"name":"ruleId","in":"path","description":"规则ID","required":true,"schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRule"}}}}}}},"/room/{roomId}":{"get":{"tags":["room-controller"],"summary":"获取房间","operationId":"getRoomInfo","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoom"}}}}}},"delete":{"tags":["room-controller"],"summary":"解散房间","operationId":"dissolveRoom","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultBoolean"}}}}}}},"/room/role/npc/list":{"get":{"tags":["room-role-controller"],"summary":"获取房间的所有NPC角色","operationId":"roomNpcRole","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListUserRole"}}}}}}},"/room/role/list":{"get":{"tags":["room-role-controller"],"summary":"获取房间的所有玩家角色","operationId":"roomRole","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListUserRole"}}}}}}},"/room/role/all":{"get":{"tags":["room-role-controller"],"summary":"一次获取房间全部角色并按类型分组","operationId":"roomAllRole","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoomRoleListResponse"}}}}}}},"/room/member/list":{"get":{"tags":["room-member-controller"],"summary":"获取房间成员列表","operationId":"getMemberList_1","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListRoomMember"}}}}}}},"/room/list":{"get":{"tags":["room-controller"],"summary":"获取空间下当前用户加入的所有房间","operationId":"getUserRooms","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoomListResponse"}}}}}}},"/room/list/sync":{"get":{"tags":["room-controller"],"summary":"增量获取空间下当前用户可见的房间","operationId":"syncUserRooms","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"afterSyncId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoomCollectionSyncResponse"}}}}}}},"/role/user":{"get":{"tags":["RoleController"],"summary":"获取用户的所有角色","operationId":"getUserRoles","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListUserRole"}}}}}}},"/role/user/type":{"get":{"tags":["RoleController"],"summary":"按类型获取用户角色","operationId":"getUserRolesByType","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListUserRole"}}}}}}},"/role/user/sync":{"get":{"tags":["RoleController"],"summary":"按同步 ID 获取用户角色基线或增量","operationId":"syncUserRoles","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"afterSyncId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleCollectionSyncResponse"}}}}}}},"/role/ability/list":{"get":{"tags":["AbilityController"],"summary":"根据角色id获得角色的所有能力","operationId":"listRoleAbility","parameters":[{"name":"roleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListRoleAbility"}}}}}}},"/notification/unread/count":{"get":{"tags":["NotificationController"],"summary":"获取通知未读数","operationId":"getUnreadCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultNotificationUnreadCountResponse"}}}}}}},"/message/direct/badge-summary":{"get":{"tags":["MessageDirectController"],"summary":"获取私聊入口角标摘要","description":"一次返回私聊未读消息数和待处理好友申请数","operationId":"getBadgeSummary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultDirectBadgeSummaryResponse"}}}}}}},"/materialPackage/detail":{"get":{"tags":["MaterialPackageController"],"summary":"获取局外素材包详情","operationId":"getDetail_1","parameters":[{"name":"packageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMaterialPackageResponse"}}}}}}},"/feedback/issue/detail":{"get":{"tags":["FeedbackIssueController"],"summary":"获取反馈 Issue 详情","operationId":"getIssueDetail","parameters":[{"name":"feedbackIssueId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultFeedbackIssueDetailResponse"}}}}}}},"/feed/moment/detail":{"get":{"tags":["FeedController"],"summary":"根据ID获取动态Feed详情","operationId":"getMomentById","parameters":[{"name":"feedId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultFeedWithStatsResponse"}}}}}}},"/counter/uv/get":{"get":{"tags":["counter"],"summary":"获取UV统计","operationId":"getUniqueVisitCount","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UVOperationDTO"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultLong"}}}}}}},"/counter/get":{"get":{"tags":["counter"],"summary":"获取单个计数","operationId":"getCounter","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CounterOperationDTO"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultInteger"}}}}}}},"/counter/all":{"get":{"tags":["counter"],"summary":"获取所有计数","operationId":"getCounters","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CounterOperationDTO"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMapStringInteger"}}}}}}},"/comment/count":{"get":{"tags":["CommentController"],"summary":"获取评论数量","operationId":"getCommentCount","parameters":[{"name":"targetId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"targetType","in":"query","required":true,"schema":{"type":"string","format":"byte"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultInteger"}}}}}}},"/chat/session/room":{"get":{"tags":["message-session"],"description":"获取用户在指定房间的会话信息","operationId":"getRoomSession","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultMessageSessionResponse"}}}}}}},"/chat/session/list":{"get":{"tags":["message-session"],"description":"获取用户的所有会话列表","operationId":"getUserSessions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListMessageSessionResponse"}}}}}}},"/chat/message/sync":{"get":{"tags":["ChatController"],"summary":"根据syncId获取单条消息","description":"用于在收到syncId间隔的消息时，重新获取缺失的消息","operationId":"getMessageBySyncId","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"syncId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultChatMessageResponse"}}}}}}},"/capi/repository/{id}":{"get":{"tags":["repositoryController"],"summary":"获取仓库详情","description":"根据id获取仓库详情","operationId":"getById","parameters":[{"name":"id","in":"path","description":"ID","required":true,"schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRepository"}}}}}}},"/capi/repository/{id}/commit-chain":{"get":{"tags":["repositoryController"],"summary":"获取仓库提交链","description":"从仓库当前head commit开始向上追溯父提交链","operationId":"getCommitChain","parameters":[{"name":"id","in":"path","description":"仓库ID","required":true,"schema":{"type":"integer","format":"int64","default":""}},{"name":"limit","in":"query","description":"最多返回的提交数量，默认120，最大500","required":false,"schema":{"type":"integer","format":"int32","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRepositoryCommitChainResponse"}}}}}}},"/avatar/variant/list":{"get":{"tags":["AvatarController"],"summary":"获取角色所有立绘组","operationId":"listRoleAvatarVariants","parameters":[{"name":"roleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListRoleAvatarVariant"}}}}}}},"/avatar/list":{"get":{"tags":["AvatarController"],"summary":"获取角色所有的头像","operationId":"getRoleAvatars","parameters":[{"name":"roleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultListRoleAvatar"}}}}}}},"/avatar/list/sync":{"get":{"tags":["AvatarController"],"summary":"按同步 ID 获取角色头像基线或增量","operationId":"syncRoleAvatars","parameters":[{"name":"roleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"afterSyncId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultRoleAvatarCollectionSyncResponse"}}}}}}},"/ai/gateway/models":{"get":{"tags":["AiGatewayController"],"summary":"查询AI模型目录","description":"按场景返回可用模型；scene 为空时返回全量模型目录","operationId":"listModels","parameters":[{"name":"scene","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultAiGatewayModelCatalogResponse"}}}}}}},"/space/member/exit":{"delete":{"tags":["space-member-controller"],"summary":"退出空间","operationId":"exitSpace","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/rule/delete/{ruleId}":{"delete":{"tags":["RuleController"],"summary":"删除规则","description":"删除指定ID的规则","operationId":"deleteRule","parameters":[{"name":"ruleId","in":"path","description":"规则ID","required":true,"schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}},"/room/member/exit":{"delete":{"tags":["room-member-controller"],"summary":"退出房间","operationId":"exitRoom","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}}}}}}},"components":{"schemas":{"UserUpdateInfoRequest":{"type":"object","default":null,"description":"用户信息更新请求","properties":{"userId":{"type":"integer","format":"int64","default":"","description":"用户ID"},"username":{"type":"string","default":"","description":"用户名"},"avatarFileId":{"type":"integer","format":"int64","default":"","description":"头像媒体文件 ID"},"description":{"type":"string","default":"","description":"用户描述信息,个人签名"},"gender":{"type":"string","default":"","description":"性别: 隐藏(null) 男 女"},"extra":{"type":"object","additionalProperties":{},"default":"","description":"扩展字段，JSON 格式"}},"required":["userId"]},"ApiResultUserPrivateInfoResponse":{"type":"object","default":null,"description":"基础返回体","properties":{"success":{"type":"boolean","default":false,"description":"成功标识true or false"},"errCode":{"type":"integer","format":"int32","default":"","description":"错误码"},"errMsg":{"type":"string","default":"","description":"错误消息"},"data":{"$ref":"#/components/schemas/UserPrivateInfoResponse","default":"","description":"返回对象"}},"required":["success"]},"UserPrivateInfoResponse":{"type":"object","properties":{"userId":{"type":"integer","format":"int64","default":"","description":"用户的uid，全局唯一"},"username":{"type":"string"},"avatarFileId":{"type":"integer","format":"int64","default":"","description":"头像媒体文件 ID"},"avatarMediaType":{"type":"string","default":"","description":"头像媒体类型"},"activeStatus":{"type":"string","format":"byte","default":"","description":"1 在线 0 离线"},"lastLoginTime":{"type":"string","format":"date-time","default":"","description":"最后一次上下线时间"},"description":{"type":"string","default":"","description":"用户描述信息,个人签名"},"gender":{"type":"string","default":"","description":"性别: 隐藏(null) 男 女"},"email":{"type":"string","default":"","description":"用户邮箱"},"inviteCode":{"type":"string","default":"","description":"当前账号的邀请码，唯一且永久有效"},"extra":{"type":"object","additionalProperties":{},"default":"","description":"私有扩展字段，JSON 格式"}},"required":["userId"]},"SpaceUpdateRequest":{"type":"object","default":null,"description":"空间信息更新请求","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间ID"},"name":{"type":"string","default":"","description":"空间名称"},"avatarFileId":{"type":"integer","format":"int64","default":"","description":"空间头像媒体文件 ID"},"description":{"type":"string","default":"","description":"空间描述"},"ruleId":{"type":"integer","format":"int64","default":"","description":"空间规则"},"roomMap":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"default":"","description":"房间（场景）地图"}},"required":["spaceId"]},"ApiResultVoid":{"type":"object","default":null,"description":"基础返回体","properties":{"success":{"type":"boolean","default":false,"description":"成功标识true or false"},"errCode":{"type":"integer","format":"int32","default":"","description":"错误码"},"errMsg":{"type":"string","default":"","description":"错误消息"},"data":{"default":"","description":"返回对象"}},"required":["success"]},"SpaceOwnerTransferRequest":{"type":"object","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间id"},"newOwnerId":{"type":"integer","format":"int64","default":"","description":"空间新所有者id"}},"required":["newOwnerId","spaceId"]},"ApiResultBoolean":{"type":"object","default":null,"description":"基础返回体","properties":{"success":{"type":"boolean","default":false,"description":"成功标识true or false"},"errCode":{"type":"integer","format":"int32","default":"","description":"错误码"},"errMsg":{"type":"string","default":"","description":"错误消息"},"data":{"type":"boolean","default":false,"description":"返回对象"}},"required":["success"]},"SpaceSidebarTreeSetRequest":{"type":"object","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间ID"},"expectedVersion":{"type":"integer","format":"int64","default":"","description":"期望版本号（乐观锁）"},"treeJson":{"type":"string","default":"","description":"频道树JSON"}},"required":["expectedVersion","spaceId","treeJson"]},"ApiResultSpaceSidebarTreeResponse":{"type":"object","default":null,"description":"基础返回体","properties":{"success":{"type":"boolean","default":false,"description":"成功标识true or false"},"errCode":{"type":"integer","format":"int32","default":"","description":"错误码"},"errMsg":{"type":"string","default":"","description":"错误消息"},"data":{"$ref":"#/components/schemas/SpaceSidebarTreeResponse","default":"","description":"返回对象"}},"required":["success"]},"SpaceSidebarTreeResponse":{"type":"object","default":null,"description":"空间侧边栏频道树返回","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间ID"},"version":{"type":"integer","format":"int64","default":"","description":"当前版本号"},"treeJson":{"type":"string","default":"","description":"频道树JSON（为空表示尚未初始化）"}}},"SpaceMemberTypeUpdateRequest":{"type":"object","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间号"},"uidList":{"type":"array","default":"","description":"需要更新的成员列表","items":{"type":"integer","format":"int64"},"minItems":1},"memberType":{"type":"integer","format":"int32","default":"","description":"目标成员类型：2玩家 3观战 5副主持人"}},"required":["memberType","spaceId","uidList"]},"PlayerGrantRequest":{"type":"object","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间号"},"uidList":{"type":"array","default":"","description":"需要添加管理的列表","items":{"type":"integer","format":"int64"},"minItems":1}},"required":["spaceId","uidList"]},"LeaderTransferRequest":{"type":"object","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间id"},"newLeaderId":{"type":"integer","format":"int64","default":"","description":"被转让的用户id"}},"required":["newLeaderId","spaceId"]},"MaterialNode":{"type":"object","default":null,"description":"素材包节点；folder 表示文件夹节点，material 表示素材节点","properties":{"type":{"type":"string","default":"","description":"节点类型","enum":["folder","material"],"example":"folder"},"name":{"type":"string","default":"","description":"节点名称","example":"场景"},"note":{"type":"string","default":"","description":"素材备注，仅 material 节点使用"},"children":{"type":"array","default":"","description":"子节点，仅 folder 节点使用","items":{"$ref":"#/components/schemas/MaterialNode"}},"messages":{"type":"array","default":"","description":"准备态消息列表，仅 material 节点使用","items":{"$ref":"#/components/schemas/MessageDraft"}},"folder":{"type":"boolean"}}},"MaterialPackageContent":{"type":"object","default":null,"description":"素材包树形内容","properties":{"version":{"type":"integer","format":"int32","default":"","description":"内容版本","example":1},"root":{"type":"array","default":"","description":"根节点列表","items":{"$ref":"#/components/schemas/MaterialNode"}}}},"MessageDraft":{"type":"object","default":null,"description":"准备态消息；尚未进入具体房间现场的可发送消息内容","properties":{"messageType":{"type":"integer","format":"int32","default":"","description":"消息类型","example":2},"content":{"type":"string","default":"","description":"消息内容"},"annotations":{"type":"array","default":"","description":"消息 annotations，技术上即消息自身注解","items":{"type":"string"}},"extra":{"type":"object","additionalProperties":{},"default":"","description":"消息 extra"},"webgal":{"type":"object","additionalProperties":{},"default":"","description":"消息 webgal 配置"}}},"SpaceMaterialPackageUpdateRequest":{"type":"object","default":null,"description":"更新局内素材包请求","properties":{"spacePackageId":{"type":"integer","format":"int64","default":"","description":"局内素材包ID"},"spaceId":{"type":"integer","format":"int64","default":"","description":"空间ID"},"name":{"type":"string","default":"","description":"素材包名称","minLength":1},"description":{"type":"string","default":"","description":"素材包描述"},"coverFileId":{"type":"integer","format":"int64","default":"","description":"素材包封面媒体文件 ID"},"content":{"$ref":"#/components/schemas/MaterialPackageContent","default":"","description":"素材包树形内容"}},"required":["content","name","spaceId","spacePackageId"]},"ApiResultSpaceMaterialPackageResponse":{"type":"object","default":null,"description":"基础返回体","properties":{"success":{"type":"boolean","default":false,"description":"成功标识true or false"},"errCode":{"type":"integer","format":"int32","default":"","description":"错误码"},"errMsg":{"type":"string","default":"","description":"错误消息"},"data":{"$ref":"#/components/schemas/SpaceMaterialPackageResponse","default":"","description":"返回对象"}},"required":["success"]},"SpaceMaterialPackageResponse":{"type":"object","default":null,"description":"局内素材包响应","properties":{"spacePackageId":{"type":"integer","format":"int64","default":"","description":"局内素材包ID"},"spaceId":{"type":"integer","format":"int64","default":"","description":"空间ID"},"sourcePackageId":{"type":"integer","format":"int64","default":"","description":"来源局外素材包ID"},"sourceUserId":{"type":"integer","format":"int64","default":"","description":"来源局外素材包作者ID"},"importedBy":{"type":"integer","format":"int64","default":"","description":"执行导入的用户ID"},"name":{"type":"string","default":"","description":"素材包名称"},"description":{"type":"string","default":"","description":"素材包描述"},"coverFileId":{"type":"integer","format":"int64","default":"","description":"素材包封面媒体文件 ID"},"coverMediaType":{"type":"string","default":"","description":"素材包封面媒体类型"},"folderCount":{"type":"integer","format":"int32","default":"","description":"文件夹节点数量"},"materialCount":{"type":"integer","format":"int32","default":"","description":"素材节点数量"},"messageCount":{"type":"integer","format":"int32","default":"","description":"消息总数"},"content":{"$ref":"#/components/schemas/MaterialPackageContent","default":"","description":"素材包内容"},"createTime":{"type":"string","format":"date-time","default":"","description":"创建时间"},"updateTime":{"type":"string","format":"date-time","default":"","description":"更新时间"}}},"SpaceExtraSetRequest":{"type":"object","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间ID"},"key":{"type":"string","default":"","description":"键","minLength":1},"value":{"type":"string","default":"","description":"值","minLength":1}},"required":["key","spaceId","value"]},"SpaceDocRenameRequest":{"type":"object","default":null,"description":"重命名 Space 共享文档请求","properties":{"docId":{"type":"integer","format":"int64","default":"","description":"文档ID"},"title":{"type":"string","default":"","description":"标题","minLength":1}},"required":["docId","title"]},"SpaceArchiveRequest":{"type":"object","properties":{"spaceId":{"type":"integer","format":"int64","default":"","description":"空间 id"},"archived":{"type":"boolean","default":false,"description":"是否归档 true归档 false取消归档"},"archiveRequested":{"type":"boolean"}},"required":["archived","spaceId"]},"RuleUpdateRequest":{"type":"object","default":null,"description":"规则更新请求对象","properties":{"ruleId":{"type":"integer","format":"int64","default":"","description":"规则ID","example":1},"ruleName":{"type":"string","default":"","description":"规则名称","example":"COC7版修改版"},"ruleDescription":{"type":"string","default":"","description":"规则描述","example":"克苏鲁神话7版规则修改版"},"actTemplate":{"type":"object","additionalProperties":{"type":"string"},"default":"","description":"表演相关字段模板，如性别、年龄等信息"},"abilityFormula":{"type":"object","additionalProperties":{"type":"string"}},"skillDefault":{"type":"object","additionalProperties":{"type":"string"}},"basicDefault":{"type":"object","additionalProperties":{"type":"string"}},"dicerConfig":{"type":"object","additionalProperties":{"type":"string"}}},"required":["ruleId"]},"RoomUpdateRequest":{"type":"object","default":null,"description":"房间信息更新请求","properties":{"roomId":{"type":"integer","format":"int64","default":"","description":"房间ID"},"name":{"type":"string","default":"","description":"房间名称"},"avatarFileId":{"type":"integer","format":"int64","default":"","description":"房间头像媒体文件 ID"},"description":{"type":"string","default":"","description":"场景简要描述，概述本房间的剧情走向"}},"required":["roomId"]},"RoomExtraSetRequest":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64","default":"","description":"房间ID"},"key":{"type":"string","default":"","description":"键","minLength":1},"value":{"type":"string","default":"","description":"值","minLength":1}},"required":["key","roomId","value"]},"RoomDndMapUpsertRequest":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64","default":"","description":"Room id"},"mapFileId":{"type":"integer","format":"int64","default":"","description":"地图图片媒体文件 ID"},"gridRows":{"type":"integer","format":"int32","default":"","description":"Grid rows","maximum":1000,"minimum":1},"gridCols":{"type":"integer","format":"int32","default":"","description":"Grid cols","maximum":1000,"minimum":1},"gridColor":{"type":"string","default":"","description":"Grid color"},"clearTokens":{"type":"boolean","default":false,"description":"Clear all tokens after update"}},"required":["roomId"]},"ApiResultRoomDndMapResponse":{"type":"object","default":null,"description":"基础返回体","properties":{"success":{"type":"boolean","default":false,"description":"成功标识true or false"},"errCode":{"type":"integer","format":"int32","default":"","description":"错误码"},"errMsg":{"type":"string","default":"","description":"错误消息"},"data":{"$ref":"#/components/schemas/RoomDndMapResponse","default":"","description":"返回对象"}},"required":["success"]},"RoomDndMapResponse":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64","default":"","description":"Room id"},"mapFileId":{"type":"integer","format":"int64","default":"","description":"地图图片媒体文件 ID"},"gridRows":{"type":"integer","format":"int32","default":"","description":"Grid rows"},"gridCols":{"type":"integer","format":"int32","default":"","description":"Grid cols"},"gridColor":{"type":"string","default":"","description":"Grid color"},"tokens":{"type":"array","default":"","description":"Map tokens","items":{"$ref":"#/components/schemas/RoomDndMapTokenResponse"}},"updatedAt":{"type":"integer","format":"int64","default":"","description":"Updated at (epoch ms)"}}},"RoomDndMapTokenResponse":{"type":"object","properties":{"roleId":{"type":"integer","format":"int64","default":"","description":"Role id"},"rowIndex":{"type":"integer","format":"int32","default":"","description":"Row index"},"colIndex":{"type":"integer","format":"int32","default":"","description":"Col index"}}},"RoomDndMapTokenUpsertRequest":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64","default":"","description":"Room id"},"roleId":{"type":"integer","format":"int64","default":"","description":"Role id"},"rowIndex":{"type":"integer","format":"int32","default":"","description":"Row index","minimum":0},"colIndex":{"type":"integer","format":"int32","default":"","description":"Col index","minimum":0}},"required":["colIndex","roleId","roomId","rowIndex"]},"ApiResultRoomDndMapTokenResponse":{"type":"object","default":null,"description":"基础返回体","properties":{"success":{"type":"boolean","default":false,"description":"成功标识true or false"},"errCode":{"type":"integer","format":"int32","default":"","description":"错误码"},"errMsg":{"type":"string","default":"","description":"错误消息"},"data":{"$ref":"#/components/schemas/RoomDndMapTokenResponse","default":"","description":"返回对象"}},"required":["success"]},"RoleUpdateRequest":{"type":"object","default":null,"description":"更新角色请求体","properties":{"roleId":{"type":"integer","format":"int64","default":"","description":"角色id"},"roleName":{"type":"string","default":"","description":"角色名字"},"description":{"type":"string","default":"","description":"简介"},"avatarId":{"type":"integer","format":"int64","default":"","description":"角色头像"},"voiceFileId":{"type":["integer","null"],"format":"int64","default":"","description":"角色语音媒体文件 ID"},"type":{"type":"integer","format":"int32","default":"","description":"角色类型,0:角色,1:骰娘,2:NPC"},"spaceId":{"type":"integer","format":"int64","default":"","description":"空间id（仅 NPC 绑定空间；非NPC应为空）"},"extra":{"type":"object","additionalProperties":{"type":"string"},"default":"","description":"角色扩展属性"}},"required":["roleId"]},"AbilityByRuleUpdateRequest":{"type":"object","default":null,"description":"按角色和规则更新能力请求","properties":{"roleId":{"type":"integer","format":"int64","default":"","description":"角色 ID"},"ruleId":{"type":"integer","format":"int64","default":"","description":"规则 ID"},"act":{"type":"object","additionalProperties":{"type":"string"},"default":"","description":"表演相关字段，不能为null，必须为单层","example":{"外貌":"外貌描述","体型":"体型描述"}},"basic":{"type":"object","additionalProperties":{"type":"string"},"default":"","description":"基础属性字段，不能为null，必须为单层","example":{"str":"50","力量":"$str"}},"ability"
[...]
