* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.bmp binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.apk binary
*.dm binary
*.jks binary
*.jar binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.zip binary
*.gz binary
*.7z binary
*.pdf binary

typecheck.out.txt binary
