@keyframes fade-in-out {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  20% {
    opacity: 20%;
    transform: translateY(0);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
    transform: translateY(0);
  }
  100% {
    opacity: 0%;
    transform: translateY(-20px);
  }
}

.fade-in-out {
  animation-duration: 300ms;
  animation-name: fade-in-out;
}

.fade-out {
  animation-duration: 300ms;
  animation-name: fade-out;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes quick-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.5s ease-out forwards;
}
